
table
{
  border-collapse: collapse;
  width: 80%;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

td, th
{
  border: 1px solid #dddddd;
  padding: 8px;
}

body .text
{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

body .flower-box
{
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 1100px;
}

body .flower-box img
{
  width: 300px;
  height: 300px;
  display: block;
}

body .flower-box img:nth-child(1)
{
  float: left;
}

body .flower-box img:nth-child(2)
{
  float: right;
}

body .flower-box img:nth-child(3)
{
}
