header
{
  margin: auto;
  width: 1220px;
}

img
{
  width: 500px;
  display: block;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#page-title
{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 1220px;
}

.teaching-div
{
  height: 550px;
  width: 1100px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.teaching-div .text
{
  margin-right: 10px;
  width: 600px;
  float: left;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.teaching-div .viz
{
  height: 500px;
  width: 400px;
  float: right;
  border-style: none;
  margin-right: 20px;
}

.interactive-controls 
{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 1010px;
}

.interactive-controls .parameter-controls
{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  border-width: 2px;
  border-style: solid;
}

.interactive-controls .parameter-controls #depth-slider
{
  float: left;
  text-align: center;
}

.interactive-controls .parameter-controls #no-max-box
{
  text-align: center;
}

.interactive-controls .vcr-controls
{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  border-width: 2px;
  border-style: solid;
}

.interactive-controls .vcr-controls button
{
  border-radius: 50%;
  font-size: 24px;
  vertical-align: top;
  height: 60px;
  width: 60px;
}

#model-results
{
  height: 550px;
  width: 1010px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

#model-results #decision-surface-container
{
  height: 550px;
  width: 500px;
  float: left;
}

#model-results #decision-surface
{
  height: 500px;
  border-width: 2px;
  border-style: solid;
}

#model-results #accuracy-chart-container
{
  height: 550px;
  width: 500px;
  float: right;
}

#model-results #accuracy-chart
{
  height: 500px;
  border-width: 2px;
  border-style: solid;
}